body{
    background-color: tomato;
}

/* TIPOGRAFIA */

h1, h2{
    font-weight: bold;
    font-size: 40px;
    color:#fff;
}

h3{
    font-weight: bold;
    font-size: 30px;
    color:#000;
    margin-top:0;
    margin-bottom:20px;
}

/* STRUTTURA */

.dati {
    background-color: #fff;
    border-radius: 20px;
    padding:0 20px;
}

#calcola .dati{
    height:260px;
}

.dati .form{
    height:130px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    color:tomato;
}

.form label{
    display:block;
    font-size: 18px;
}

.form input, .form select{
    height:30px;
    width: 150px;
    color:#000;
    border:1px solid tomato;
    border-radius: 5px;
}

.dati .row{
    height:130px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

button{
    background-color: #fff;
    border-radius: 5px;
    border:2px solid tomato;
    padding: 10px 15px;
    margin:5px;
    color: tomato;
    font-weight: bold;
}

button:hover{
    background-color: tomato;
    color: #fff;

}

.display-none {
    display:none;
}

.display-block{ /* classe per mostrare #recap con js */
    display:block;
}

.return{
    height:300px;
    margin-bottom:50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

table{
    width:100%;
    border-top:1px solid grey;
    border-bottom:1px solid grey;
}

th, td{
    width:20%;
    padding:20px;
}

th{
    font-weight: bold;
    font-size: 26px;
}

th:first-child, td:first-child{
    background-color: grey;
}
